:root {
  --nude: #dbcfc3;
  --acqua: #d3e3d6;
  --rose: #efc4b9;
  --peach: #fdbc96;
  --lavande: #dac2cf;
  --rosenude: #e0c9bc;
  --lila: #a886dd;

  --manrope: "Manrope", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.navContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--lila);
}

.navlink {
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
  font-size: 15px;
  margin: 0 10px;
  transition: all 0.5s;
  font-family: var(--manrope);
  letter-spacing: 2px;
  padding: 0 1rem;
}

.navlink:hover {
  opacity: 1;
}

.arrow {
  cursor: pointer;
  position: absolute;
  object-position: center;
  top: 10px;
  right: 95%;
  transform: translateX(-50%);
  opacity: .7;
}

.arrow:hover{
  opacity: 1;
}