:root{
    --lila: #a886dd;

}

/* .ul{
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

.li{
    list-style-type: none;
    background-color: var(--lavande) ;
    margin-right: .5rem;
    border-radius: 4rem;
    width: 4rem;
    scale: 1
}

.li a {
    display: block;
    width: 100%;
  } */

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    gap: 2rem;
    
}

.ul .li{
    position: relative;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    
}

.li:hover{
    color: var(--lila);
    
}

.colorNumber{
    color: var(--lila);
    font-weight: bold;
    font-size: 20px;
}